Connectivity issue for rootless qbittorrent container using pasta driver

### Issue Description

It seems that qbittorrent running rootless via the default pasta driver (specifically if launched via podman compose or a quadlet) has trouble acquiring an external IP, which breaks DHT connectivity. Reverting to the `slirp4netns` driver fixes the issue for compose/quadlet invocations, and running qbittorrent via command-line using otherwise identical arguments also seems to work OK.

### Steps to reproduce the issue

Steps to reproduce the issue
1. After starting the qbittorrent container, navigate to web UI, then enable Logs in View menu. Click on Logs tab and check output for any line(s) matching `Detected external IP: xxx.xxx.xxx.xxx`. Additionally, watch the DHT node count at bottom of the web UI.

2. For testing the command-line invocation:
```
docker run -d \
  --name=qbittorrent \
  -e PUID=1000 \
  -e PGID=1000 \
  -e TZ=Etc/UTC \
  -e WEBUI_PORT=8080 \
  -e TORRENTING_PORT=6881 \
  -p 8080:8080 \
  -p 6881:6881 \
  -p 6881:6881/udp \
  -v ~/docker/qbittorrent/appdata:/config \
  --restart unless-stopped \
  lscr.io/linuxserver/qbittorrent:latest
```

2. Compose definition (same effect if converted to a  quadlet):
```
services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - ~/docker/qbittorrent/config:/config
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped
```


### Describe the results you received

When launched via command-line, external IP is resolved and DHT count will increase as normal. The pasta process will show these arguments:
```
/usr/bin/pasta --config-net -t 6881-6881:6881-6881 -t 8080-8080:8080-8080 -u 6881-6881:6881-6881 --dns-forward 169.254.0.1 -T none -U none --no-map-gw --quiet --netns /run/user/1000/netns/netns-5f81f8cc-b7b7-c851-af04-c24e80a4fddb
```

When launched via quadlet or compose with the default pasta driver, the external IP is not resolved in 95% of cases, and DHT count remains at 0. In some rare cases, the external IP is resolved after an extended delay, but the DHT count does not increase at the expected rate. Pasta process will show:
```
/usr/bin/pasta --config-net --pid /run/user/1000/containers/networks/rootless-netns/rootless-netns-conn.pid --dns-forward 169.254.0.1 -t none -u none -T none -U none --no-map-gw --quiet --netns /run/user/1000/containers/networks/rootless-netns/rootless-netns
```

When launched via quadlet/compose and `default_rootless_network_cmd` is set to `slirp4netns`, external IP resolution and DHT works correctly at all times.


### Describe the results you expected

External IP and DHT connectivity should be working in all configurations.


### podman info output

```yaml
$ podman info
host:
  arch: amd64
  buildahVersion: 1.37.2
  cgroupControllers:
  - memory
  - pids
  cgroupManager: systemd
  cgroupVersion: v2
  conmon:
    package: conmon-1:2.1.12-1
    path: /usr/bin/conmon
    version: 'conmon version 2.1.12, commit: e8896631295ccb0bfdda4284f1751be19b483264'
  cpuUtilization:
    idlePercent: 87.55
    systemPercent: 4.06
    userPercent: 8.39
  cpus: 4
  databaseBackend: sqlite
  distribution:
    distribution: arch
    version: unknown
  eventLogger: journald
  freeLocks: 2039
  hostname: hp255g7-arch
  idMappings:
    gidmap:
    - container_id: 0
      host_id: 1000
      size: 1
    - container_id: 1
      host_id: 100000
      size: 65536
    uidmap:
    - container_id: 0
      host_id: 1000
      size: 1
    - container_id: 1
      host_id: 100000
      size: 65536
  kernel: 6.10.6-zen1-1-zen
  linkmode: dynamic
  logDriver: journald
  memFree: 684138496
  memTotal: 7173124096
  networkBackend: netavark
  networkBackendInfo:
    backend: netavark
    dns:
      package: aardvark-dns-1.12.1-1
      path: /usr/lib/podman/aardvark-dns
      version: aardvark-dns 1.12.1
    package: netavark-1.12.2-1
    path: /usr/lib/podman/netavark
    version: netavark 1.12.2
  ociRuntime:
    name: crun
    package: crun-1.16.1-1
    path: /usr/bin/crun
    version: |-
      crun version 1.16.1
      commit: afa829ca0122bd5e1d67f1f38e6cc348027e3c32
      rundir: /run/user/1000/crun
      spec: 1.0.0
      +SYSTEMD +SELINUX +APPARMOR +CAP +SECCOMP +EBPF +CRIU +YAJL
  os: linux
  pasta:
    executable: /usr/bin/pasta
    package: passt-2024_08_21.1d6142f-1
    version: |
      pasta 2024_08_21.1d6142f
      Copyright Red Hat
      GNU General Public License, version 2 or later
        <https://www.gnu.org/licenses/old-licenses/gpl-2.0.html>
      This is free software: you are free to change and redistribute it.
      There is NO WARRANTY, to the extent permitted by law.
  remoteSocket:
    exists: false
    path: /run/user/1000/podman/podman.sock
  rootlessNetworkCmd: pasta
  security:
    apparmorEnabled: false
    capabilities: CAP_CHOWN,CAP_DAC_OVERRIDE,CAP_FOWNER,CAP_FSETID,CAP_KILL,CAP_NET_BIND_SERVICE,CAP_SETFCAP,CAP_SETGID,CAP_SETPCAP,CAP_SETUID,CAP_SYS_CHROOT
    rootless: true
    seccompEnabled: true
    seccompProfilePath: /etc/containers/seccomp.json
    selinuxEnabled: false
  serviceIsRemote: false
  slirp4netns:
    executable: /usr/bin/slirp4netns
    package: slirp4netns-1.3.1-1
    version: |-
      slirp4netns version 1.3.1
      commit: e5e368c4f5db6ae75c2fce786e31eef9da6bf236
      libslirp: 4.8.0
      SLIRP_CONFIG_VERSION_MAX: 5
      libseccomp: 2.5.5
  swapFree: 2815983616
  swapTotal: 3586125824
  uptime: 10h 44m 20.00s (Approximately 0.42 days)
  variant: ""
plugins:
  authorization: null
  log:
  - k8s-file
  - none
  - passthrough
  - journald
  network:
  - bridge
  - macvlan
  - ipvlan
  volume:
  - local
registries: {}
store:
  configFile: /home/conn/.config/containers/storage.conf
  containerStore:
    number: 3
    paused: 0
    running: 1
    stopped: 2
  graphDriverName: overlay
  graphOptions: {}
  graphRoot: /home/conn/.local/share/containers/storage
  graphRootAllocated: 392575868928
  graphRootUsed: 166278561792
  graphStatus:
    Backing Filesystem: extfs
    Native Overlay Diff: "true"
    Supports d_type: "true"
    Supports shifting: "false"
    Supports volatile: "true"
    Using metacopy: "false"
  imageCopyTmpDir: /var/tmp
  imageStore:
    number: 11
  runRoot: /run/user/1000/containers
  transientStore: false
  volumePath: /home/conn/.local/share/containers/storage/volumes
version:
  APIVersion: 5.2.2
  Built: 1724352649
  BuiltTime: Thu Aug 22 19:50:49 2024
  GitCommit: fcee48106a12dd531702d729d17f40f6e152027f
  GoVersion: go1.23.0
  Os: linux
  OsArch: linux/amd64
  Version: 5.2.2
```
```


### Podman in a container

No

### Privileged Or Rootless

Rootless

### Upstream Latest Release

Yes

### Additional environment details

Arch Linux x86_64.

### Additional information

I can reproduce the exact same results with the same podman/pasta version on Arch Linux ARM aarch64 running on a Raspberry Pi 4.

> When launched via quadlet or compose with the default pasta driver [...] Pasta process will show:
> 
> ```
> /usr/bin/pasta --config-net --pid /run/user/1000/containers/networks/rootless-netns/rootless-netns-conn.pid --dns-forward 169.254.0.1 -t none -u none -T none -U none --no-map-gw --quiet --netns /run/user/1000/containers/networks/rootless-netns/rootless-netns
> ```

For some reason, ports are not forwarded at all (you get `-t 6881-6881:6881-6881 -t 8080-8080:8080-8080 -u 6881-6881:6881-6881 -T none -U none` when started by command line).

> > When launched via quadlet or compose with the default pasta driver [...] Pasta process will show:
> > ```
> > /usr/bin/pasta --config-net --pid /run/user/1000/containers/networks/rootless-netns/rootless-netns-conn.pid --dns-forward 169.254.0.1 -t none -u none -T none -U none --no-map-gw --quiet --netns /run/user/1000/containers/networks/rootless-netns/rootless-netns
> > ```
> 
> For some reason, ports are not forwarded at all (you get `-t 6881-6881:6881-6881 -t 8080-8080:8080-8080 -u 6881-6881:6881-6881 -T none -U none` when started by command line).

Yes, I noticed this discrepancy, but I'm not certain how pasta is supposed to operate in bridged mode (which seems to be the main networking difference between quadlet/compose vs command line invocation).

I tested the following:
1. `pasta_options = ["-t", "6881-6881:6881-6881", "-t", "8080-8080:8080-8080", "-u", "6881-6881:6881-6881"]` 
This results in the following error:
```
Error: rootlessport listen tcp 0.0.0.0:6881: bind: address already in use
Error: unable to start container "a1dcbf164f52ced90452666254b5d00005ce238e940fc1d228acf5b04034910d": rootlessport listen tcp 0.0.0.0:6881: bind: address already in use
```
2. `pasta_options = ["-t", "auto", "-u", "auto"]`
Process spawns with the following arguments, but unfortunately does not improve the issue:
```
conn        4716  0.2  0.2  71932 15508 ?        Ss   15:24   0:00 /usr/bin/pasta --config-net -t auto -u auto --pid /run/user/1000/containers/networks/rootless-netns/rootless-netns-conn.pid --dns-forward 169.254.0.1 -T none -U none --no-map-gw --quiet --netns /run/user/1000/containers/networks/rootless-netns/rootless-netns
```



The bridge mode is special and never uses pasta for port forwarding, i.e. see https://github.com/containers/podman/discussions/22943#discussioncomment-9795883.
But slirp4netns works in the same way so I do not see how this would cause any of this, i.e. port forwarding source ip is wrong (https://github.com/containers/podman/issues/8193).

How does qbittorrent actually try to figure out its external ip address?

I'm not well-versed on qBittorrent development, but my hunch is that it retrieves the ip address through libtorrent. So it would likely be [this](https://github.com/qbittorrent/qBittorrent/blob/72feee6fddc199d8cd49e7de4c35e080cbc353a5/src/base/bittorrent/sessionimpl.cpp#L5888-L5900) function which calls [external_address()](https://github.com/arvidn/libtorrent/blob/b1fd3ed5fd305f073ab443f39622f3e10d7bc0af/src/session_impl.cpp#L6954-L6970) in libtorrent.

Although my test case doesn't apply (as I didn't set up an IPv6-enabled nework in the compose definition), after further testing I can see that rootless bridge mode has an issue resolving my IPv6 address even with `slirp4netns`. 

In summary:
* When `network_mode` is set to `pasta` or `slirp4netns` in the compose/quadlet definition, the external IPv4 and IPv6 addresses are retrieved correctly.
* Rootless bridge with pasta driver cannot resolve any external addresses (5% of the time, an IPv4 address resolves after a delay, but DHT is still degraded)
* Rootless bridge with slirp4netns driver only resolves the IPv4 external address.

I have the same issue but for user created networks only. The default podman network works as expected. From what I can see pasta doesn't get the correct portmappings.

`# default podman network
ps aux |grep -i pasta
user       3410  0.0  0.2  71940 12668 ?        Ss   10:18   0:00 /usr/bin/pasta --config-net -u 51413-51413:51413-51413 -t 9091-9091:9091-9091 -t 51413-51413:51413-51413 --dns-forward 169.254.0.1 -T none -U none --no-map-gw --quiet --netns /run/user/1000/netns/netns-1217136f-ebce-13d5-bb4c-ff59950580bd

# user created network
ps aux |grep -i pasta
user       4108  0.5  0.2  71936 12648 ?        Ss   10:43   0:00 /usr/bin/pasta --config-net --pid /run/user/1000/containers/networks/rootless-netns/rootless-netns-conn.pid --dns-forward 169.254.0.1 -t none -u none -T none -U none --no-map-gw --quiet --netns /run/user/1000/containers/networks/rootless-netns/rootless-netns`

When i switch to slirp4netns it works like a charm.


Thank you for the feedback. It is odd to me that changing to slirp4netns would make a difference if it's bypassed?

To clarify I use another bittorrent client called [transmission](https://github.com/transmission/transmission). I don't know if it uses the same libraries or not. Anyway I would be really happy if this issue could get resolved and I will gladly help out if you need more information.

I'm having the same issue with the message "Dropping datagram with no flow TAP..." and it makes the pasta process consuming 95% of a core. In my case, I have IPv4 and IPv6 configured and in the log appears IPv6 IPs:

```
jun 02 17:45:14 archy pasta[149944]: Dropping datagram with no flow TAP 2a0c:...:6771 -> ff15::efc0:988f:6771
```

I have created the container rootless with:
```
podman run -p 8080:8080 -p 6881:6881 -p 6881:6881/udp -v /home/servarr/qbittorrent/config:/config -v /home/disco4tb:/media -v /home/yuki/Descargas/torrents:/torrents --userns=keep-id lscr.io/linuxserver/qbittorrent:latest
```

and I see the pasta process as:
```
 /usr/bin/pasta --config-net -t 6881-6881:6881-6881 -t 8080-8080:8080-8080 -u 6881-6881:6881-6881 --dns-forward 169.254.1.1 -T none -U none --no-map-gw --quiet --netns /run/user/1000/netns/netns-c32d10d6-ccea-75c3-b6db-388198fff650 --map-guest-addr 169.254.1.2
```

With top or htop I see the process consuming a 95% of CPU. If I pause the downloaded files, the process downs to consume 0,6%-1%... I assume that the process consumes more  CPU because it needs to drop all those packages, because when I restart the download goes up the consumption.

Let me know if you need more info.

My system info:

```
podman info
host:
  arch: amd64
  buildahVersion: 1.43.1
  cgroupControllers:
  - cpu
  - memory
  - pids
  cgroupManager: systemd
  cgroupVersion: v2
  conmon:
    package: conmon-1:2.2.1-1
    path: /usr/bin/conmon
    version: 'conmon version 2.2.1, commit: c8cc2c4db27531bd4e084ce7857f73cd21ee639d'
  cpuUtilization:
    idlePercent: 86.07
    systemPercent: 3.15
    userPercent: 10.78
  cpus: 6
  databaseBackend: sqlite
  distribution:
    distribution: arch
    version: unknown
  eventLogger: journald
  freeLocks: 2046
  hostname: archy
  idMappings:
    gidmap:
    - container_id: 0
      host_id: 1000
      size: 1
    - container_id: 1
      host_id: 100000
      size: 65536
    uidmap:
    - container_id: 0
      host_id: 1000
      size: 1
    - container_id: 1
      host_id: 100000
      size: 65536
  kernel: 7.0.10-zen1-1-zen
  linkmode: dynamic
  logDriver: journald
  memFree: 691044352
  memTotal: 16667197440
  networkBackend: netavark
  networkBackendInfo:
    backend: netavark
    defaultNetwork: podman
    dns:
      package: aardvark-dns-1.17.1-1
      path: /usr/lib/podman/aardvark-dns
      version: aardvark-dns 1.17.1
    package: netavark-1.17.2-2
    path: /usr/lib/podman/netavark
    version: netavark 1.17.2
  ociRuntime:
    name: crun
    package: crun-1.28-1
    path: /usr/bin/crun
    version: |-
      crun version 1.28-dirty
      commit: 54f16ffbefcd022bf032af768b5c5ce075c18bfc
      rundir: /run/user/1000/crun
      spec: 1.0.0
      +SYSTEMD +SELINUX +APPARMOR +CAP +SECCOMP +EBPF +CRIU +LIBKRUN +JSON_C
  os: linux
  pasta:
    executable: /usr/bin/pasta
    package: passt-2026_05_26.038c51e-1
    version: |
      pasta 2026_05_26.038c51e
      Copyright Red Hat
      GNU General Public License, version 2 or later
        <https://www.gnu.org/licenses/old-licenses/gpl-2.0.html>
      This is free software: you are free to change and redistribute it.
      There is NO WARRANTY, to the extent permitted by law.
  remoteSocket:
    exists: true
    path: /run/user/1000/podman/podman.sock
  rootlessNetworkCmd: pasta
  security:
    apparmorEnabled: false
    capabilities: CAP_CHOWN,CAP_DAC_OVERRIDE,CAP_FOWNER,CAP_FSETID,CAP_KILL,CAP_NET_BIND_SERVICE,CAP_SETFCAP,CAP_SETGID,CAP_SETPCAP,CAP_SETUID,CAP_SYS_CHROOT
    rootless: true
    seccompEnabled: true
    seccompProfilePath: /etc/containers/seccomp.json
    selinuxEnabled: false
  serviceIsRemote: false
  slirp4netns:
    executable: ""
    package: ""
    version: ""
  swapFree: 0
  swapTotal: 0
  uptime: 53h 58m 11.00s (Approximately 2.21 days)
  variant: ""
plugins:
  authorization: null
  log:
  - k8s-file
  - none
  - passthrough
  - journald
  network:
  - bridge
  - macvlan
  - ipvlan
  volume:
  - local
registries:
  search:
  - docker.io
store:
  configFile: /home/yuki/.config/containers/storage.conf
  containerStore:
    number: 2
    paused: 0
    running: 2
    stopped: 0
  graphDriverName: overlay
  graphOptions: {}
  graphRoot: /home/yuki/.local/share/containers/storage
  graphRootAllocated: 844369944576
  graphRootUsed: 515762319360
  graphStatus:
    Backing Filesystem: extfs
    Native Overlay Diff: "true"
    Supports d_type: "true"
    Supports shifting: "false"
    Supports volatile: "true"
    Using metacopy: "false"
  imageCopyTmpDir: /var/tmp
  imageStore:
    number: 13
  runRoot: /run/user/1000/containers
  transientStore: false
  volumePath: /home/yuki/.local/share/containers/storage/volumes
version:
  APIVersion: 5.8.2
  Built: 1776240370
  BuiltTime: Wed Apr 15 10:06:10 2026
  GitCommit: 5b263b5f5b48004a87caac44e67349a8266d9ef4
  GoVersion: go1.26.2-X:nodwarf5
  Os: linux
  OsArch: linux/amd64
  Version: 5.8.2
```

In the Qbittorrent logs I see that it detects external IPs. 

> I'm having the same issue with the message "Dropping datagram with no flow TAP..." and it makes the pasta process consuming 95% of a core. In my case, I have IPv4 and IPv6 configured and in the log appears IPv6 IPs:
> 
> ```
> jun 02 17:45:14 archy pasta[149944]: Dropping datagram with no flow TAP 2a0c:...:6771 -> ff15::efc0:988f:6771
> ```

@dgibson any idea about any recent change that might cause this? That ff15:: multicast address looks weird to me but we should probably still establish a flow for those.

What I've seen is that port 6771 is bittorrent's "local peer discovery service". It can be disabled in Qbittorrent, but by default is  enabled.

I have seen also:

```
ss -pnta | grep -i 6771
LISTEN     0      128             *:6771              *:*     users:(("passt.avx2",pid=185886,fd=153))
```

Not sure if with this I should get "pasta" or it's ok. 

I have updated the Qbittorrent image (lscr.io/linuxserver/qbittorrent) and all the services that I have running, and now I'm also having IPv4 drops in the logs

```
jun 03 20:56:57 archy pasta[202587]: Dropping datagram with no flow TAP 2a0c:5a86:2107:d600:6021:e1ff:febd:2a16:6771 -> ff15::efc0:988f:6771
jun 03 20:56:57 archy pasta[202587]: Dropping datagram with no flow TAP 2a0c:5a86:2107:d600:6021:e1ff:febd:2a16:6771 -> ff15::efc0:988f:6771
jun 03 20:57:00 archy pasta[202587]: Can't process IPv4 fragments (13 dropped)
jun 03 20:57:00 archy pasta[202587]: Can't process IPv4 fragments (14 dropped)
jun 03 20:57:01 archy pasta[202587]: Dropping datagram with no flow TAP 2a0c:5a86:2107:d600:6021:e1ff:febd:2a16:6771 -> ff15::efc0:988f:6771
jun 03 20:57:01 archy pasta[202587]: Dropping datagram with no flow TAP 2a0c:5a86:2107:d600:6021:e1ff:febd:2a16:6771 -> ff15::efc0:988f:6771
``` 

I can't immediately think of a change that would cause this problem.  But here are my observations so far:

- I think there's a good chance the `Dropping datagram` error is the cause of the other address problems - we're dropping the packets that qtbittorrent is using to do its external address discovery
- It's not really clear whether it's logically correct to create a flow (or at least the normal type of flow) for multicast packets.  One of the main points of the flow is so we can associate replies with the originating packets, but for multicast replies are not just a matter of switching source/dest addresses, so the existing flow logic isn't really correct.
- That said, creating a flow is probably the quickest way to something working.
- There is one place we explicitly require a unicast addresses, but I don't think that should be in play - it should only trigger if we saw a packet with a multicast *source* address, here it's the destination.

Next things to check:
- Can we get a full log, or at least a section leading up to the `Dropping datagram` message.  There might be other messages giving more detail about why we're failing.
- Especially if we could enable debug or trace logging on pasta
 

> Next things to check:
> 
> * Can we get a full log, or at least a section leading up to the `Dropping datagram` message.  There might be other messages giving more detail about why we're failing.

@yuki this would be something like `--net=pasta:--debug,--log-file,/tmp/pasta.log,--log-size,1000000000` passed in Podman's command line.

> * Especially if we could enable debug or trace logging on pasta

...and `--trace` instead of `--debug` if you can still reproduce the issue and use qbittorrent like that (it will slow things down massively).


Hello,

First of all, thanks for all the great work you're doing with Podman 😃  

I have created the container with the next command with the parameters in your comment:

```
podman run -p 8080:8080 -p 6881:6881 -p 6881:6881/udp -v /home/servarr/qbittorrent/config:/config -v /home/disco4tb:/media -v /home/yuki/Descargas/torrents:/torrents --userns=keep-id --net=pasta:--debug,--log-file,/tmp/pasta.log,--log-size,1000000000  lscr.io/linuxserver/qbittorrent:latest
```

I have created 2 log files, because when executing previous command the drop message doesn't appear in journalctl. So, I have done:

- Create container with --debug...  --> I have created the [pasta1.log](https://mega.nz/file/kFRlEbzZ#s99-PMJq7b8BhmH6eGAirEdFOwSH4iaMfTyBLbns9m4)  ~80MB file
- I didn't show nothing on journalctl
- Stop/remove the container, create the container without "--net=pasta..." and the logs appears again in journalctl. Stop/remove again the container
- Create again the container with "--debug..." --> not logs in journalctl and created the [pasta2.log](https://mega.nz/file/MQBhgTAb#6iNk9UrHXQnqLLqLZyRtVyfuF3n-kZ1rj9TC4sguOKA) ~17MB file
- Stop/remove the container. Create a container with --trace  --> created the [pasta.log](https://mega.nz/file/BVwQXTIR#C5yl_CcQJGeyPXZe_R6PL9JtF93Efr9gXfd-bFvCu-U) ~817MB

I have uploaded the files into Mega. If you need them in other platform tell me to change the link or upload to other more open platform.

I have watched a little bit the logs but I don't understand them, sorry, but they have the Dropping message:

```
22.8591:          Flow 232 (NEW): FREE -> NEW
22.8591:          Flow 232 (INI): NEW -> INI
22.8591:          Flow 232 (INI): TAP [2a0c:5a86:...]:6771 -> [ff15::efc0:988f]:6771 => ?
22.8591:          Flow 232 (TGT): INI -> TGT
22.8591:          Flow 232 (TGT): TAP [2a0c:5a86:...]:6771 -> [ff15::efc0:988f]:6771 => HOST [::]:6771 -> [ff15::efc0:988f]:6771
22.8591:          Flow 232 (UDP flow): TGT -> TYPED
22.8591:          Flow 232 (UDP flow): TAP [2a0c:5a86:...]:6771 -> [ff15::efc0:988f]:6771 => HOST [::]:6771 -> [ff15::efc0:988f]:6771
22.8591:          Flow 232 (UDP flow): Couldn't connect flow socket: Cannot assign requested address
22.8591:          Flow 232 (FREE): TYPED -> FREE
22.8591:          Flow 232 (FREE): TAP [2a0c:5a86:...]:6771 -> [ff15::efc0:988f]:6771 => HOST [::]:6771 -> [ff15::efc0:988f]:6771
22.8591: WARNING: Dropping datagram with no flow TAP 2a0c:5a86...:6771 -> ff15::efc0:988f:6771
``` 

At the beginning of the log you may see:

```
pasta 2026_05_26.038c51e: /usr/bin/passt.avx2 (240474)
0.0013: info:    Template interface: br0 (IPv4), br0 (IPv6)
0.0013: info:    Namespace interface: br0
```

I forget to say that I have my network configured in a bridge br0 in order to create virtual machines with qemu and using this bridge. I hope this is not something that makes pasta doing those Dropping messages.

> * I didn't show nothing on journalctl
> * Stop/remove the container, create the container without "--net=pasta..." and the logs appears again in journalctl. Stop/remove again the container

Sorry, forgot to mention beforehand; this is expected.  The `--log-file` option directs the logging to the given file *instead of* to the system log.

> I forget to say that I have my network configured in a bridge br0 in order to create virtual machines with qemu and using this bridge. I hope this is not something that makes pasta doing those Dropping messages.

I don't think that will be relevant, but I guess we'll find out as we investigate.


I downloaded `pasta1.log` and `pasta2.log`.  I had trouble with `pasta.log` (the big one), but I think I have the information I need for now from the others.

```
0.2842:          Flow 25 (NEW): FREE -> NEW
0.2842:          Flow 25 (INI): NEW -> INI
0.2842:          Flow 25 (INI): TAP [2a0c:5a86:2107:d600:6021:e1ff:febd:2a16]:6771 -> [ff15::efc0:988f]:6771 => ?
0.2842:          Flow 25 (TGT): INI -> TGT
0.2842:          Flow 25 (TGT): TAP [2a0c:5a86:2107:d600:6021:e1ff:febd:2a16]:6771 -> [ff15::efc0:988f]:6771 => HOST [::]:6771 -> [ff15::efc0:988f]:6771
0.2842:          Flow 25 (UDP flow): TGT -> TYPED
0.2842:          Flow 25 (UDP flow): TAP [2a0c:5a86:2107:d600:6021:e1ff:febd:2a16]:6771 -> [ff15::efc0:988f]:6771 => HOST [::]:6771 -> [ff15::efc0:988f]:6771
0.2843:          Flow 25 (UDP flow): Couldn't connect flow socket: Cannot assign requested address
0.2843:          Flow 25 (FREE): TYPED -> FREE
0.2843:          Flow 25 (FREE): TAP [2a0c:5a86:2107:d600:6021:e1ff:febd:2a16]:6771 -> [ff15::efc0:988f]:6771 => HOST [::]:6771 -> [ff15::efc0:988f]:6771
0.2843: WARNING: Dropping datagram with no flow TAP 2a0c:5a86:2107:d600:6021:e1ff:febd:2a16:6771 -> ff15::efc0:988f:6771
```

This snippet is enough to get us one step further.  We're getting the multicast packet from the container, and attempting to create a flow for it.  That fails due to an `EADDRNOTAVAIL` on `connect(2)`.  So, we fail to create the flow and therefore drop the packet.  That appears to happen every time the guest tries to send this multicast, which could then explain the failures in the server itself.  Next steps of debugging this specific failure in the next comment, but a few general observations for now.

- These packets don't appear to be especially frequent: bursts of 3 packets, 2-4 seconds apart, and eventually stopping.
- That means dropping the packets is not enough to explain the high CPU load.  To clarify, the load was on the pasta process itself, not the qtbittorrent container?
- As noted, this appears to be bittorrent local peer discovery.  I don't know exactly how that works, but presumably the server both sends out these multicast announcements and listens to similar announcements from other nearby peers.  While I think it won't be to hard to fix things so that the multicast announcement makes it out, letting the multicasts back *in* is much harder (pasta will need to snoop and process IGMP and MLD traffic).  We'd like to do this, but it's giong to be a pretty big endeavour (this is upstream [bug 2](https://bugs.passt.top/show_bug.cgi?id=2).
- Since even if we fix the immediate problem, local peer discovery is unlikely to work, disabling it could be a good workaround for the time being.

@yuki
> I have updated the Qbittorrent image (lscr.io/linuxserver/qbittorrent) and all the services that I have running, and now I'm also having IPv4 drops in the logs
> 
> ```
> jun 03 20:57:00 archy pasta[202587]: Can't process IPv4 fragments (13 dropped)
> jun 03 20:57:00 archy pasta[202587]: Can't process IPv4 fragments (14 dropped)
> ```

This is unlikely to be related to the IPv6 bug here, could you file a separate issue for it to keep the discussion more coherent (short answer is pasta doesn't support fragments, if the guest is sending them, that probably indicates a problem with MTU configuration).

Now investigating the cause of the specific error:
```
0.2843:          Flow 25 (UDP flow): Couldn't connect flow socket: Cannot assign requested address
```

(Aside: now that have proper ratelimiting, this should be promoted to a warning, not debug message; I'll work on a patch for that)

This message indicates that when we tried to `connect(2)` to the multicast address, we got an `EADDRNOTAVAIL` error.  According to the man page this means:
```
       EADDRNOTAVAIL
              (Internet domain sockets) The socket referred to by sockfd had not previously been bound to an address and, upon attempting to bind it to an ephemeral port, it was determined that all port numbers in the ephemeral port range are currently in use.  See the  discussion
              of /proc/sys/net/ipv4/ip_local_port_range in ip(7).
```

Which is weird, because in this case we're *not* looking for an ephemeral port - we're specifically binding to source port 6771, or at least we should be.  It's possible something is wrong in our code for this, but I think that's unlikely - running out of ephemeral ports also seems very unlikely.  My guess is that the man page is not quite correct and there are also other circumstances which can cause an `EADDRNOTAVAIL` error.  Possibly a conflict with something else running on the host, although I'd expect that to show up at `bind(2)` time rather than `connect(2)` time.  It's also possible there's some multicast specific behaviour going on here.

Next steps:
- @yuki / @psyke83: Double check if there are any other instances of qtbittorrent or other bittorrent peers running on the host (either in containers or directly).
- @yuki / @psyke83: Can you get the output from `ss -6 -u -a -n` on the host when the qtbittorrent container is *not* running?
- @dgibson: Make that error and maybe some ones like it appear without `--debug`
- @dgibson: Check behaviour of `connect()` with multicast addresses to see if I can reproduce something like this

OK, @dgibson  your last comment remember me that I have an instance of Syncthing (a p2p backup system that uses bittorrent protocol), sorry!! . I have stopped all containers and Syncthing.

```
sudo ss -6 -u -a -n              
State               Recv-Q              Send-Q                                                           Local Address:Port                                          Peer Address:Port             
UNCONN              0                   0                                                                         [::]:5353                                                  [::]:*                
UNCONN              0                   0                                                                         [::]:5353                                                  [::]:*                
UNCONN              0                   0                                                                         [::]:5355                                                  [::]:*                
UNCONN              0                   0                                              [fe80::6021:e1ff:febd:2a16]%br0:546                                                   [::]:*                
ESTAB               0                   0                                    [2a0c:5a86:2107:d600:6021:e1ff:febd:2a16]:58317                           [2a00:1450:4003:80b::2003]:443              
UNCONN              0                   0                                [2a0c:5a86:2107:d600:6021:e1ff:febd:2a16]%br0:34378                                                 [::]:*                
UNCONN              0                   0                                [2a0c:5a86:2107:d600:6021:e1ff:febd:2a16]%br0:9993                                                  [::]:*                
UNCONN              0                   0                                [2a0c:5a86:2107:d600:6021:e1ff:febd:2a16]%br0:52876                                                 [::]:*  
```

If I start only qbittorrent container with `podman run ...`  I still have dropping messages and pasta at 86-98%.

I have created new two log files and upload them to a [Google Drive](https://drive.google.com/drive/folders/1EmXpyiBNSwBPD66wLiB2qyBCJUcF61Wg?usp=sharing):
- pasta-debug.log -> debug log ~5MB
- pasta-trace.log -> trace log  775MB

> OK, [@dgibson](https://github.com/dgibson) your last comment remember me that I have an instance of Syncthing (a p2p backup system that uses bittorrent protocol), sorry!! . I have stopped all containers and Syncthing.

Ok.  From the information you give below, it doesn't look like that was relevant, but it will at least simplify the picture a bit.

> ```
> sudo ss -6 -u -a -n              
> State               Recv-Q              Send-Q                                                           Local Address:Port                                          Peer Address:Port             
> UNCONN              0                   0                                                                         [::]:5353                                                  [::]:*                
> UNCONN              0                   0                                                                         [::]:5353                                                  [::]:*                
> UNCONN              0                   0                                                                         [::]:5355                                                  [::]:*                
> UNCONN              0                   0                                              [fe80::6021:e1ff:febd:2a16]%br0:546                                                   [::]:*                
> ESTAB               0                   0                                    [2a0c:5a86:2107:d600:6021:e1ff:febd:2a16]:58317                           [2a00:1450:4003:80b::2003]:443              
> UNCONN              0                   0                                [2a0c:5a86:2107:d600:6021:e1ff:febd:2a16]%br0:34378                                                 [::]:*                
> UNCONN              0                   0                                [2a0c:5a86:2107:d600:6021:e1ff:febd:2a16]%br0:9993                                                  [::]:*                
> UNCONN              0                   0                                [2a0c:5a86:2107:d600:6021:e1ff:febd:2a16]%br0:52876                                                 [::]:*  
> ```

Ok, nothing really illuminating there.  That's more or less what I expected, but it's worth eliminating simple explanations first :).

> If I start only qbittorrent container with `podman run ...` I still have dropping messages and pasta at 86-98%.

Ok.  So, I'd say we have two symptoms here: first, the dropped datagrams, and second the high load.  These may or may not have the same root cause.  I'll focus on the dropped datagrams for now, since we have a more obvious thread to pull.

> I have created new two log files and upload them to a [Google Drive](https://drive.google.com/drive/folders/1EmXpyiBNSwBPD66wLiB2qyBCJUcF61Wg?usp=sharing):

Thanks, I've downloaded these and taken a look.

> * pasta-debug.log -> debug log ~5MB

This has essentially the same errors as the last round, not really anything new to see.

> * pasta-trace.log -> trace log  775MB

Oddly I _don't_ see the errors in this log - it seems like the container isn't even attempting those port 6771 multicasts (even the IPv4 ones which appear to be working in the other logs).  For now I'm inclined to suspect that's just a glitch (e.g. maybe `--trace` slowed things down enough that it didn't get to attempting the discovery protocol).

Anyway, at this point I'll need to do some thinking and experimenting.  Probably won't have much for you until tomorrow at least.

[Note to self, and maybe @sbrivio-rh]

Haven't checked thoroughly, but [this line](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/net/ipv6/addrconf.c#n1903) in the kernel may be relevant.  I _think_ that function is choosing an IPv6 source address where we haven't specified one by `bind()`ing the socket - which is the situation we're in here.  That line appears to be generating an `EADDRNOTAVAIL` under circumstances I haven't yet figured out.

> I _think_ that function is choosing an IPv6 source address where we haven't specified one by `bind()`ing the socket - which is the situation we're in here.

Right, yes. That function implements a part of the rules from RFC 6724 Section 5 (the comment to "Section 4" is slightly misleading), https://datatracker.ietf.org/doc/html/rfc6724#section-5.

> That line appears to be generating an `EADDRNOTAVAIL` under circumstances I haven't yet figured out.

I think it helps looking at that function before kernel commit a9b05723ffa2 ("[IPV6] ADDRCONF: Clean-up ipv6_dev_get_saddr()."), or even at that commit itself. It doesn't really introduce any functional change but it makes things much harder to understand (at least for myself). That EADDRNOTAVAIL simply means that those rules (now mostly evaluated by ipv6_get_saddr_eval()) didn't yield any usable address, which might be the case for multicast, even though rule 2. says "**Prefer** appropriate scope", not _require_ or suchlike.

Maybe we should bind to an address explicitly in this case.

> Maybe we should bind to an address explicitly in this case.

Oops, sorry, I lost track of the actual issue... I guess we should try to avoid connect()ing to multicast instead.

I think I can confirm that there are three different issues:

- **Dropping datagram with no flow TAP**: I have seen them after rebooting the PC, with some torrents seeding (but no high CPU usage)
- **Can't process IPv4 fragments**: not sure how can I replicate them, but I have seen them again.
- **High CPU load**: after the reboot, and Qbittorrent seeding some torrents, the load was between 0,7% and 2,6%. If I add a new torrent (debian.iso), the CPU load goes up, if I stop the download (but others seeding and uploading), the CPU remains in 0,7-2%.

Can I get the log in journalctl and also in `--log-file` when adding `--trace` ? Will I see something if I do `tail -f /tmp/pasta-trace.log | grep -i dropping` as it appears in journalctl?


> I think I can confirm that there are three different issues:

> * **Dropping datagram with no flow TAP**: I have seen them after rebooting the PC, with some torrents seeding (but no high CPU usage)
> * **Can't process IPv4 fragments**: not sure how can I replicate them, but I have seen them again.
> * **High CPU load**: after the reboot, and Qbittorrent seeding some torrents, the load was between 0,7% and 2,6%. If I add a new torrent (debian.iso), the CPU load goes up, if I stop the download (but others seeding and uploading), the CPU remains in 0,7-2%.

Nice summary, thanks.  I'm moderately confident that the IPv4 fragment issue is unrelated to the others.  I suspect the load issue is unrelated to the dropped datagram issue, but I'm much less confident.  Obviously I can't be certain until we figure the root cause for at least one of them.  Although it's not necessarily the worst, I'm still planning to pursue the datagram dropping one for now, we have the clearest leads.

> Can I get the log in journalctl and also in `--log-file` when adding `--trace` ? 

No, I'm afraid not.  At present pasta logs to a file *or* to the system log, never both.  We could in principle add support for it, but we're unlikely to get around to implementing it any time soon.  If you want to log to journalctl instead of the logfile, you can drop `--log-file` while keeping `--trace`.  Usually we find a discrete log file is more convenient when using detailed log levels, but the option is there.

> Will I see something if I do `tail -f /tmp/pasta-trace.log | grep -i dropping` as it appears in journalctl?

Sorry, I don't really understand the question.  Apart from the prefixes added by the system logger, the messages are identical whether they go to a log file or to journalctl, if that's what you mean.


Ok, I've now done some investigation into the behaviour of `connect()` with multicast destinations.  Unfortunately, I haven't managed to reproduce the `EADDRNOTAVAIL` you're seeing.  At this stage I'm not sure if that's because I haven't duplicated some detail of the circumstances triggering it, or because there's something different in my kernel and/or network configuration.

@yuki or @psyke83 are you able to build an instrumented pasta version to gather some more information?  I've pushed a debugging branch [here](https://passt.top/passt/log/?h=podman23739).  It has two groups of changes:

1. I've made improvements to the logging, that should mean many of the relevant seeming errors appear, even without `--debug`.
1. I've added an explicit test program to look at some of the bind/connect behaviour with multicast destinations.

Just running your case with the debug version might give some new insights from (1).  To run (2) you'll need to go into the `doc/platform-requirements` subdirectory of that branch and run `make`.  That will produce a bunch of output from several test programs, the last part of which is the relevant bit.  It should look something like this:

```
./multicast-local-addr
Testing [::]:0 -> [ff15::efc0:988f]:6771 
Final local address: [::]:58330
Testing [::]:0 -> [ff15::efc0:988f]:6771 (connected)
Final local address: [redacted]:33849
Testing [::]:6771 -> [ff15::efc0:988f]:6771 
Final local address: [::]:6771
Testing [::]:6771 -> [ff15::efc0:988f]:6771 (connected)
Final local address: [redacted]:6771
Testing [::1]:0 -> [ff15::efc0:988f]:6771 
Final local address: [::1]:56508
Testing [::1]:0 -> [ff15::efc0:988f]:6771 (connected)
Final local address: [::1]:49155
Testing [::1]:6771 -> [ff15::efc0:988f]:6771 
Final local address: [::1]:6771
Testing [::1]:6771 -> [ff15::efc0:988f]:6771 (connected)
Final local address: [::1]:6771
So far so good
```

If you can paste that output (everything after the `./multicast-local-addr` line, that will give me some clues about whether your kernel/system is behaving similarly to mine.


@dgibson I have downloaded and running the test program I get:

```
Client close 7: LINGER SHUT_CLIENT SHUT_SERVER
Server error: Success
Server close 7: LINGER SHUT_CLIENT SHUT_SERVER
Client error: Success
./multicast-local-addr
Testing [::]:0 -> [ff15::efc0:988f]:6771
sendto() failed: Cannot assign requested address
make: *** [Makefile:17: check-multicast-local-addr] Error 1
```

The test failed. If you

In order to use the new pasta for that branch with Podman, do I need to do `make install` or can I use some parameter to specify the passt binary? 

> [@dgibson](https://github.com/dgibson) I have downloaded and running the test program I get:
> 
> ```
> Client close 7: LINGER SHUT_CLIENT SHUT_SERVER
> Server error: Success
> Server close 7: LINGER SHUT_CLIENT SHUT_SERVER
> Client error: Success
> ./multicast-local-addr
> Testing [::]:0 -> [ff15::efc0:988f]:6771
> sendto() failed: Cannot assign requested address
> make: *** [Makefile:17: check-multicast-local-addr] Error 1
> ```
> 
> The test failed. If you

Oh, that's interesting.  I don't see that failure, so that suggests there is some difference in network configuration (or kernel behaviour), rather than my test program failing to trigger the problem in general.  Could I get the output on the host of `ip -6 addr`, `ip -6 route` and `uname -a`.

> In order to use the new pasta for that branch with Podman, do I need to do `make install` or can I use some parameter to specify the passt binary?

Oh, sorry, forgot to include that information.  You can set the `CONTAINERS_HELPER_BINARY_DIR` environment variable to the directory with the custom build of pasta.

```
ip -6 addr
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 state UNKNOWN qlen 1000
    inet6 ::1/128 scope host noprefixroute 
       valid_lft forever preferred_lft forever
3: br0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 state UP qlen 1000
    inet6 2a0c:5a86:2107:d600:6021:e1ff:febd:2a16/64 scope global mngtmpaddr noprefixroute 
       valid_lft forever preferred_lft forever
    inet6 fe80::6021:e1ff:febd:2a16/64 scope link proto kernel_ll 
       valid_lft forever preferred_lft forever
```

```
ip -6 route
2a0c:5a86:2107:d600::/64 dev br0 proto ra metric 1024 pref medium
fe80::/64 dev br0 proto kernel metric 256 pref medium
default nhid 3775745147 via fe80::1 dev br0 proto ra metric 1024 expires 1618sec pref medium
```

Arch Linux, updated 2-3 days ago with Zen kernel:
```
Linux archy 7.0.11-zen1-1-zen #1 ZEN SMP PREEMPT_DYNAMIC Tue, 02 Jun 2026 18:26:42 +0000 x86_64 GNU/Linux
```

I have added new trace and debug logs in [this link](https://drive.google.com/drive/folders/12fD6MtGhQ7_YNqR_1oyN1fY1vEeX7VMo?usp=sharing) with compiled pasta. I have configured /etc/containers/containers.conf and modified the helper_binaries_dir adding /usr/lib/podman and the directory with the new compilation.

> ```
> ip -6 addr
> 1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 state UNKNOWN qlen 1000
>     inet6 ::1/128 scope host noprefixroute 
>        valid_lft forever preferred_lft forever
> 3: br0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 state UP qlen 1000
>     inet6 2a0c:5a86:2107:d600:6021:e1ff:febd:2a16/64 scope global mngtmpaddr noprefixroute 
>        valid_lft forever preferred_lft forever
>     inet6 fe80::6021:e1ff:febd:2a16/64 scope link proto kernel_ll 
>        valid_lft forever preferred_lft forever
> ```
> 
> ```
> ip -6 route
> 2a0c:5a86:2107:d600::/64 dev br0 proto ra metric 1024 pref medium
> fe80::/64 dev br0 proto kernel metric 256 pref medium
> default nhid 3775745147 via fe80::1 dev br0 proto ra metric 1024 expires 1618sec pref medium
> ```

I replicated as much as I could of that, but so far haven't been able to reproduce the test failure.  I didn't manage to replicate the nexthop based routing setup; not sure if that's relevant or not.  The following further commands might shed some more light: `ip nexthop ls`, `ip route get ff15::efc0:988f`.

> Arch Linux, updated 2-3 days ago with Zen kernel:
> 
> ```
> Linux archy 7.0.11-zen1-1-zen #1 ZEN SMP PREEMPT_DYNAMIC Tue, 02 Jun 2026 18:26:42 +0000 x86_64 GNU/Linux
> ```

Ok.  It might be interesting to confirm if this also happens on a mainline kernel.  Some cursory searches of the diff between mainline and the zen kernel suggest that it's unlikely to be relevant here, though.

> I have added new trace and debug logs in [this link](https://drive.google.com/drive/folders/12fD6MtGhQ7_YNqR_1oyN1fY1vEeX7VMo?usp=sharing) with compiled pasta. I have configured /etc/containers/containers.conf and modified the helper_binaries_dir adding /usr/lib/podman and the directory with the new compilation.

Ok, thanks for the traces.  No new insights so far, alas.

A few extra notes that are consequences of things before, but that may not be immediately apparent:

It would be interesting (for both @yuki and myself, at least) to know the reason for the [test failure](https://github.com/podman-container-tools/podman/issues/23739#issuecomment-4656630300).  However, whatever it is, it indicates a problem that can't be fixed within pasta:

- The test program is attempting essentially the same multicast that we want to send out.  If we can't do it directly from the host, then clearly pasta can't forward such a multicast from the guest.
- It might be possible to have pasta synthesise an ICMPv6 message back to the guest reporting the error.  qtbittorrent could, at least in theory detect that and have a positive indication of failure.  I kind of doubt that's actually going to do anything, since UDP messages are usually unreliable anyway.  It's also a moderately large amount of work (at least to generalise to other socket errors that might be reportable that way).

Suggested next steps on several fronts:

### Multicast address allocation failures (`Dropping datagram`)

It would still be good to know exactly what's going on here.

@yuki next steps would be:
-  `ip nexthop ls`
-  `ip route get ff15::efc0:988f`

@psyke83, @andsky-git that information, plus `ip -6 addr` and `ip -6 route` would also be useful from you, to see if there's a common factor causing the multicast failure.

### High CPU load

Based on the latest information, I'm now pretty confident this is not connected to the `Dropping datagram` errors.  Along with that, I think it's more likely to be related to the root cause of the actually failing to work.  Since much of the bug history here is tracking the dropped datagram problem, @yuki (or anyone who's seeing it) could you please file a new bug to track the high load problem?


I have had problems with the PC this week and I lost  the "/" partition. I have made a new install with Arch but right now I cannot replicate my previous logs, I don't see any dropping message IPv6

Right now I don't have  the network in bridge mode, and I'm using NetworkManager instead of systemd-network. I'll try to replicate my previous config and try to see if I get again dropping message (I didn't have my /etc backuped :-(  

I have  created the #28994  for high CPU usage.

> I have had problems with the PC this week and I lost the "/" partition. I have made a new install with Arch but right now I cannot replicate my previous logs, I don't see any dropping message IPv6

Oh no!  I'm sorry to hear that.

As far as I can tell the UDP packet drops were something quite specific to the host network configuration.  So if they're not showing up on your new install, there might not be anything more we can do to pursue that for now.  I'll keep this open for a few days to see if the problem shows up again, either for you or for @psyke83. 

> Right now I don't have the network in bridge mode, and I'm using NetworkManager instead of systemd-network. I'll try to replicate my previous config and try to see if I get again dropping message (I didn't have my /etc backuped :-(

Right.  I wouldn't expect the bridge mode per se to cause this, but something specific about how systemd-network configures it might be relevant.